<html>
    <head>
        <title>My first html page</title>
        <body>
            <h1>heading</h1>
            <p>paragraph</p>
            <form>
                <input type='text' name='exp' placeholder='Write your name' required='required'/>
                <input type='number' name='score' placeholder='score' required='required'/>
                <input type='number' name='points' placeholder='points' required='required'/>
                <button type='submit' class='btn btn-primary'>predict</button>
            </form>
        </body>
    </head>
</html>